<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

    <!--1.指定job-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.kaishengit.quartz.jobs.SpringJob"/>
        <!--如果是循环任务，必须设置该项，防止每次启动Tomcat向数据库插入重复数据-->
        <property name="durability" value="true"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="message" value="from applicationContext-quartz.xml"/>
            </map>
        </property>
    </bean>
    <!--触发器Tigger-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0 0/5 * * * ? *"/>
    </bean>
    <!--定义调度工厂-->
    <bean id="stdScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--定义数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--事务管理器-->
        <property name="transactionManager" ref="transactionManager"/>
        <!--配置文件的地址-->
        <property name="configLocation" value="classpath:quartz.properties"/>
        <!--是否覆盖数据库中已存在的任务-->
        <property name="overwriteExistingJobs" value="true"/>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>

</beans>